h3:hover {
  cursor: pointer;
}
.tasklist {
  padding: 10px 16px;
  margin: 20px 0;
  display: flex;
  border-bottom: 1px solid #fafafa;
  justify-content: space-between;
}
.tasklist:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.tasklist h3 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.add {
  max-width: 600px;
  margin: 20px 0 0 620px;
  padding: 10px 30px 10px 30px;
}
button {
  margin: 5px;
}
.butt {
  display: flex;
}
.allbut {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.undadd {
  margin-left: 5px;
}
